/*Header*/


.navContainer{
    border-radius: 0 0 15% 15%;
    border-bottom: 4px solid rgb(0, 0, 0);
    background: #ff1616de;
    overflow: hidden;
}

header{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

header a{
    text-decoration: none;
}
  
.brand-title {
    color: #fff;
    display: block;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    margin-left: 12px;
}
  
.navbar-links {
    height: 100%;
}
  
.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}
  
.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-size: 1rem
}
  
.toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-top: 18px;
    transition: all .4s ease-in-out;
}
  
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

  
@media (max-width: 720px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
  
    .toggle-button {
        margin-top: 22px;
        display: flex;
    }
  
    .navbar-links {
        display: none;
        width: 100%;
    }
  
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
  
    .navbar-links ul li {
        text-align: justify;
    }
  
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
  
    .navbar-links .active {
        display: flex;
    }
}

/*Fin header*/

/*Banner*/
.contenedorBanner{
    padding: 70px 0;
}
.banner-principal{
    height: 350px;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 700px) {
    .banner-principal{
        height: 300px;
    }
}
@media (max-width: 576px) {
    .banner-principal{
        height: 190px;
    }
}
@media (max-width: 400px) {
    .banner-principal{
        height: 150px;
    }
}
/*Fin banner*/


/*Cards*/
.produtive{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    overflow: hidden;
}

.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.cards{
    width: 300px;
    margin: 15px;
}
/*Fin cards*/