/*Header*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.header { 
    font-family: 'Alfa Slab One', cursive; 
    border-radius: 0 0 15% 15%;
    border-bottom: 4px solid rgb(0, 0, 0);
    background-color: #ff1616de;  
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); 
    color: #fff; 
    position: fixed;  
    width: 100%;  
    z-index: 3;  
}  
.header ul {  
    margin: 0;  
    padding: 0;  
    list-style: none;  
    overflow: hidden;  
}  
.header li a {  
    display: block;  
    padding: 20px 20px;  
    color: #fff;
    text-decoration: none;  
} 
.header li a:last-child{
    margin-right: 30px;
}
.header li a:hover,  
.header .menu-btn:hover {  
    background-color: #ff1616f1;  
}  
.header .logo {  
    display: block;  
    float: left;  
    font-size: 2rem; 
    padding: 5px 30px;
    color: #fff; 
    text-decoration: none;  
}  
/* menu */  
.header .menu {  
    clear: both;  
    max-height: 0;  
    transition: max-height .2s ease-out;  
}  
/* menu icon */  
.header .menu-icon {  
    cursor: pointer;  
    display: inline-block;  
    float: right;  
    padding: 28px 20px;  
    position: relative;  
    user-select: none;  
}  
.header .menu-icon .navicon {  
    background: #fff;  
    display: block;  
    height: 3px;  
    position: relative;  
    transition: background .2s ease-out;  
    width: 18px;  
}  
.header .menu-icon .navicon:before,  
.header .menu-icon .navicon:after {  
    background: #fff;  
    content: '';  
    display: block;  
    height: 100%;  
    position: absolute;  
    transition: all .2s ease-out;  
    width: 100%;  
}  
.header .menu-icon .navicon:before {  
    top: 5px;  
}  
.header .menu-icon .navicon:after {  
    top: -5px;  
}  
/* menu btn */  
.header .menu-btn {  
    display: none;  
}  
.header .menu-btn:checked ~ .menu {  
    max-height: 240px;  
}  
.header .menu-btn:checked ~ .menu-icon .navicon {  
    background: transparent;  
}  
.header .menu-btn:checked ~ .menu-icon .navicon:before {  
    transform: rotate(-45deg);  
}  
.header .menu-btn:checked ~ .menu-icon .navicon:after {  
    transform: rotate(45deg);  
}  
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,  
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {  
    top: 0;  
}  
/* 48em = 768px */  
@media screen and (min-width: 768px){

    .header li {  
     float: left;  
    } 
    .header li a {  
     padding: 20px 20px;  
    }  
    .header .menu {  
     clear: none;  
     float: right;  
     max-height: none;  
    }  
    .header .menu-icon {  
     display: none;  
    }  
}  

/*Fin header*/

/*Banner*/
.contenedorBanner{
    padding: 85px 0;
    max-height: 360px;
}
.banner-principal{
    height: 350px;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 700px) {
    .banner-principal{
        height: 300px;
    }
}
@media (max-width: 576px) {
    .banner-principal{
        height: 190px;
    }
}
@media (max-width: 400px) {
    .banner-principal{
        height: 150px;
    }
}
/*Fin banner*/


/*Cards*/
.produtive{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 0;
    overflow: hidden;
}

.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.cards{
    width: 300px;
    margin: 15px;
}
/*Fin cards*/

/*Buscador*/

.join{
    padding: 10px 0;
}
.join_container{
    background-color: #ff1616;
    box-shadow: 1px 1px 10px -5px rgb(255, 255, 255, .5);
    border-radius: 12px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align: center;
    width: 65%;
    margin: 0 auto;
    padding: 40px 0;
}

.join_title{
    font-family: 'Alfa Slab One', cursive;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1em;
}

.join_form{
    display: grid;
    grid-template-columns: 1fr max-content;
    width: 90%;
    margin: 0 auto;
}

.join_input{
    padding: 15px 20px;
    font: inherit;
    border-radius: 30px;
    outline: none;
    border: none;
}

.join_container .marcas{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2;
}

.join_container .marcas article{
    color: #fff;
    font-size: 18px;
}

@media screen and (max-width: 410px){
    .join_container{
        width: 77%;
    }
    .join_title{
        font-size: 1.6rem;
    }
}
@media screen and (min-width: 777px){
    .join_container .marcas{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/*fin*/